@{
    ViewBag.Title = "salary";
}

<h2>Salary</h2>
@using (Html.BeginForm("savedata", null, FormMethod.Post))
{
<form action="savedata">
    
    <div class="col-md-2">
        <label>Employee Name </label>
        @Html.DropDownList("employeeList", null, "Select", htmlAttributes: new { @Name = "employee_id", @class = "Form-control" });
    </div>
    <label class="col-md-2">Salary_paid</label>
    <div class="col-md-4">
        <input type="text" name="salary_paid" class="form-control" />
    </div>
    <label class="col-md-2">paid_date</label>
    <div class="col-md-4">
        <input type="text" name="paid_date" class="form-control" />
    </div>
    <div class="col-md-2">
        <input type="submit" class="btn btn-success" value="Save" />
    </div>
</form>
}